html
	head
		title employee
	body
		form(action='/k1',method="POST")
			div
				label(for="name") Ename:
				input(type="text" name="name" value="")
			br
			div
				label(for="id") Eid:
				input(type="text" name="id" value="")
			br
			div
				label(for="age") Eage:
				input(type="text" name="age" value="")
			br
			div
				label(for="loc") Eloc:
				input(type="text" name="loc" value="")
			br
			button(type="submit") Submit 
			
